body{
    font-family: 'Calibri';
}
.top-contact-nav a {
    font-weight: 600;
    color: #555;
    transition: all 0.3s;
}
.top-contact-nav a:hover{
    color: orange;
}
.top-contact-nav a:visited{
    color: #555;
}
.top-contact-nav a i{
    color: #179DD8;
}
.top-contact{
    border-bottom: 1px solid #eee;
}
#collapsibleNavbar ul li a{
    color: #868686;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Comic Sans MS';
    transition: all 0.3s;
}
#collapsibleNavbar ul li a:hover{
    color: #179DD8;
}
#collapsibleNavbar ul li a.active{
    color: #179DD8;;
}
#home-section{
    background-image: url(../img/BG21.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
}